.article-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 40vw;
  padding: 2rem;
  border-style: solid;
  border-radius: .5px;
  margin: 1rem;
  cursor: pointer;
}

.article-section:hover {
  background-color: #D3D3D3;
}

.article-section:hover .article-abstract,
.article-section:hover .article-byline {
  color: black;
}

.article-section-name {
  color: crimson;
  width: 100%;
  margin: .5rem 0 .5rem 1rem;
}

.article-content {
  width: 100%;
}

.article-title {
  margin-left: 1rem;
  margin: .5rem 0 .5rem 1rem;
}

.article-abstract,
.article-byline {
  margin: .5rem 0 .5rem 1rem;
  color: grey;
}

.article-image {
  width: 35%;
  margin: .5rem 0 .5rem 1rem;
}

.article-byline,
.article-abstract,
.article-title,
.article-section-name {
  text-align: left;
}