.active > button{
  background-color: crimson;
  color: white;
}

header {
  border-style: groove;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-bottom: 2rem;
}

header button {
  margin-right: 1rem;
  cursor: pointer;
}